# How municipalities influence education level

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets


# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
#import dataproject

%pip install git+https://github.com/elben10/pydst
%pip install pandas-datareader
import pandas_datareader # install with `pip install pandas-datareader`
import pydst # install with `pip install git+https://github.com/elben10/pydst`

Collecting git+https://github.com/elben10/pydst
  Cloning https://github.com/elben10/pydst to /private/var/folders/6g/ztqdjshx67n8pkkmdc8z2c3w0000gp/T/pip-req-build-z70y6s2h
  Running command git clone --quiet https://github.com/elben10/pydst /private/var/folders/6g/ztqdjshx67n8pkkmdc8z2c3w0000gp/T/pip-req-build-z70y6s2h
  Resolved https://github.com/elben10/pydst to commit bb347560a1b3c17684fda072c829658da38f5a72
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=0.23.4 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pydst==0.1.0.9000) (1.4.4)
Requirement already satisfied: cerberus==1.2 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pydst==0.1.0.9000) (1.2)
Requirement already satisfied: requests>=2.21.0 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pydst==0.1.0.9000) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23.4->pydst==0.1.0.9000) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23.4->pydst==0.1.0.9000) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23.4->pydst==0.1.0.9000) (1.21.5)
Requirement already satisfied: certifi>=2017.4.17 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.21.0->pydst==0.1.0.9000) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.21.0->pydst==0.1.0.9000) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.21.0->pydst==0.1.0.9000) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.21.0->pydst==0.1.0.9000) (1.26.11)
Requirement already satisfied: six>=1.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->pydst==0.1.0.9000) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas-datareader in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: lxml in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: six>=1.5 in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Read and clean data

Import your data, either through an API or manually, and load it.

In [2]:
Dst = pydst.Dst(lang='en') # setup data loader with the langauge 'english'
import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})
tables = Dst.get_tables(subjects=['2'])
print(type(tables))

<class 'pandas.core.frame.DataFrame'>

In [3]:
Dst = pydst.Dst(lang='en') # setup data loader with the langauge 'english'
# What is the Dst variable?
print(type(Dst))
Dst.get_subjects()
tables = Dst.get_tables(subjects=['4'])
#print(type(tables))
#display(tables)
tables[tables.id == 'BY2']
indk_vars = Dst.get_variables(table_id='BY2')

<class 'pydst.pydst.Dst'>

In [4]:
variables = {'KOMK':['*'], 'ALDER':['*'], 'TID':["2022"], 'KØN':['*'],'BYST':["*"]}
df = Dst.get_data(table_id = 'BY2', variables=variables)
##lav alder til 1 tal, omdan til integer eller float , nogen forskel??
df['ALDER'] = df['ALDER'].map(lambda x: x.rstrip(' years')) 
df['ALDER'] = df['ALDER'].astype('float64')
df.drop(df[df['TID'] != 2022].index, inplace = True)
df.drop(df[df['ALDER'] > 69.001].index, inplace = True)
df

            KOMK  ALDER   TID    KØN                 BYST  INDHOLD
206     Gribskov    1.0  2022  Women  250-499 inhabitants        8
207     Gribskov   10.0  2022    Men  250-499 inhabitants        8
208     Gribskov   10.0  2022  Women  250-499 inhabitants       12
209     Gribskov   11.0  2022    Men  250-499 inhabitants       16
210     Gribskov   11.0  2022  Women  250-499 inhabitants       14
...          ...    ...   ...    ...                  ...      ...
127325  Nordfyns   32.0  2022  Women  250-499 inhabitants       13
127326  Nordfyns   33.0  2022    Men  250-499 inhabitants       10
127327  Nordfyns   33.0  2022  Women  250-499 inhabitants        9
127328  Nordfyns   34.0  2022    Men  250-499 inhabitants       10
127329  Nordfyns   34.0  2022  Women  250-499 inhabitants        9

[81154 rows x 6 columns]

In [5]:
IKKE KØR
##lav aldersgruppevariabel
df.loc[df['ALDER']<=15, 'ALDERSGRUPPE'] = 'u15'
df.loc[df['ALDER'].between(15,19), 'ALDERSGRUPPE'] = '1519'
df.loc[df['ALDER'].between(20,29), 'ALDERSGRUPPE'] = '2029'
df.loc[df['ALDER'].between(30,39), 'ALDERSGRUPPE'] = '3039'
df.loc[df['ALDER'].between(40,49), 'ALDERSGRUPPE'] = '4049'
df.loc[df['ALDER'].between(50,59), 'ALDERSGRUPPE'] = '5059'
df.loc[df['ALDER'].between(60,69), 'ALDERSGRUPPE'] = '6069'
#df["ALDERSGRUPPE"] = 
#df['tot_alder'] = df.groupby(["TID", 'KOMK', 'ALDER'])['INDHOLD'].transform('sum')
df
##duplicates drop, drop unødvendige variable, drophvor tid != 2022. Inddel i aldersgrupper

##bysort
df['tot_koen'] = df.groupby(["TID", 'KOMK', 'ALDER'])['INDHOLD'].transform('sum')
df['tot_aldersgruppe'] = df.groupby(["TID", 'KOMK', 'ALDERSGRUPPE'])['INDHOLD'].transform('sum')
df
#Dropper duplicates

SyntaxError: invalid syntax (1965808708.py, line 1)

In [6]:
df
df.loc[df['ALDER'].between(25,39), 'ALDERSGRUPPE'] = '25-39'
df.drop(df[df['ALDERSGRUPPE'] != "25-39"].index, inplace = True)
##duplicates drop, drop unødvendige variable, drophvor tid != 2022. Inddel i aldersgrupper

##bysort
df['tot_koen'] = df.groupby(["TID", 'KOMK', 'ALDER'])['INDHOLD'].transform('sum')
df['tot_aldersgruppe'] = df.groupby(["TID", 'KOMK', 'ALDERSGRUPPE'])['INDHOLD'].transform('sum')
df
#Dropper duplicates

,KOMK,ALDER,TID,KØN,BYST,INDHOLD,ALDERSGRUPPE,tot_koen,tot_aldersgruppe
239,Gribskov,25.0,2022,Men,250-499 inhabitants,4,25-39,270,4970
240,Gribskov,25.0,2022,Women,250-499 inhabitants,7,25-39,270,4970
241,Gribskov,26.0,2022,Men,250-499 inhabitants,8,25-39,252,4970
242,Gribskov,26.0,2022,Women,250-499 inhabitants,1,25-39,252,4970
243,Gribskov,27.0,2022,Men,250-499 inhabitants,6,25-39,276,4970
...,...,...,...,...,...,...,...,...,...
127325,Nordfyns,32.0,2022,Women,250-499 inhabitants,13,25-39,281,4297
127326,Nordfyns,33.0,2022,Men,250-499 inhabitants,10,25-39,269,4297
127327,Nordfyns,33.0,2022,Women,250-499 inhabitants,9,25-39,269,4297
127328,Nordfyns,34.0,2022,Men,250-499 inhabitants,10,25-39,289,4297
127329,Nordfyns,34.0,2022,Women,250-499 inhabitants,9,25-39,289,4297

In [7]:
df1 = df.drop_duplicates(subset=("KOMK"))

df1.drop(columns=['ALDER', 'KØN', 'BYST', 'INDHOLD', 'tot_koen', 'TID'], inplace = True)
df1

/var/folders/6g/ztqdjshx67n8pkkmdc8z2c3w0000gp/T/ipykernel_1343/923654993.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=['ALDER', 'KØN', 'BYST', 'INDHOLD', 'tot_koen', 'TID'], inplace = True)

                 KOMK ALDERSGRUPPE  tot_aldersgruppe
239          Gribskov        25-39              4970
808          Gentofte        25-39             10419
1012         Gladsaxe        25-39             13649
1100      Fredensborg        25-39              5760
1679    Frederikssund        25-39              6338
...               ...          ...               ...
116901        Lolland        25-39              5217
119758      Svendborg        25-39              9117
120295       Ringsted        25-39              6291
121210    Christiansø        25-39                10
121303         Assens        25-39              5948

[99 rows x 3 columns]

Import your data, either through an API or manually, and load it.

In [8]:
#variables = {'BOPOMR':['*'], 'ALDER':['*'], 'TID':["2022"], 'HFUDD':['*'],'INDHOLD':['*']}
variables = {'BOPOMR':['*'], 'ALDER':['*'], 'HFUDD':['*'], 'TID':["2022"]}
df_hf = Dst.get_data(table_id = 'HFUDD11', variables = variables)
df_hf
#df.loc[df['ALDER']==, 'ALDERSGRUPPE'] = 'u15'
df_hf.rename(columns={'BOPOMR': 'KOMK', 'ALDER': 'ALDERSGRUPPE'}, inplace=True)
# drop years tekst fra alder
df_hf['ALDERSGRUPPE'] = df_hf['ALDERSGRUPPE'].map(lambda x: x.rstrip(' years')) 
# drop observationer der ikke er 2022
df_hf.drop(df_hf[df_hf['TID'] != 2022].index, inplace = True)
# drop kolonner vi ikke ønsker
df_hf.drop(columns=['HERKOMST', 'KØN', 'TID'], inplace=True)
#beholder 1 aldersgruppe 25-39 år
#df_hf.drop(df_hf[df_hf['ALDERSGRUPPE'] != "25-29"].index, inplace = True)
##lav ny variabel som er 1 hvis det er i aldersgruppen
df_hf.loc[df_hf['ALDERSGRUPPE'] == "25-29", 'TJEK'] = 1
df_hf.loc[df_hf['ALDERSGRUPPE'] == "30-34", 'TJEK'] = 1
df_hf.loc[df_hf['ALDERSGRUPPE'] == "35-39", 'TJEK'] = 1
#drop hvis tjek != 1, og drop variabel tjek

df_hf.drop(df_hf[df_hf['TJEK'] != 1].index, inplace = True)
df_hf.drop(columns=['TJEK'], inplace=True)
#df_hf = df_hf.drop(df_hf[ (df_hf['ALDERSGRUPPE'] != 25-29) & (df_hf['ALDERSGRUPPE'] != 30-34)].index, inplace = True)
#summer over aldersgrupperne
df_hf['tot_aldersgruppe'] = df_hf.groupby(['KOMK', "HFUDD"])['INDHOLD'].transform('sum')

##gemmer kun nogle uddannelser

df_hf.loc[df_hf['HFUDD'] == "H10 Primary education", 'UDDANNELSE'] = "Primary education"
#df_hf.loc[df_hf['HFUDD'] == "H20 Upper secondary education", 'UDDANNELSE'] = "use"
df_hf.loc[df_hf['HFUDD'] == "H30 Vocational Education and Training (VET)", 'UDDANNELSE'] = "VET"
#df_hf.loc[df_hf['HFUDD'] == "H35 Qualifying educational programs", 'UDDANNELSE'] = "qep"
df_hf.loc[df_hf['HFUDD'] == "H40 Short cycle higher education", 'UDDANNELSE'] = "Higher education"
df_hf.loc[df_hf['HFUDD'] == "H50 Vocational bachelors educations", 'UDDANNELSE'] = "Higher education"
df_hf.loc[df_hf['HFUDD'] == "H60 Bachelors programs", 'UDDANNELSE'] = "Higher education"
df_hf.loc[df_hf['HFUDD'] == "H70 Masters programs", 'UDDANNELSE'] = "Higher education"
df_hf.loc[df_hf['HFUDD'] == "H80 PhD programs", 'UDDANNELSE'] = "Higher education"

In [9]:
#drop hvis uddannelse har nan værdi
df_hf2 = df_hf.dropna(subset=["UDDANNELSE"])
df_hf2 = df_hf2.drop_duplicates(subset=("KOMK", "HFUDD"))
##læg sammen over uddannelser
df_hf2['total_in_education'] = df_hf2.groupby(["KOMK", 'UDDANNELSE'])['tot_aldersgruppe'].transform('sum')
#drop duplicates komk og uddannelse
df_hf2 = df_hf2.drop_duplicates(subset=("KOMK", "UDDANNELSE"))
#drop variable
df_hf2.drop(columns=['ALDERSGRUPPE', 'HFUDD', 'INDHOLD', 'tot_aldersgruppe'], inplace=True)

df_hf2

                      KOMK         UDDANNELSE  total_in_education
81671          All Denmark  Primary education              161520
81779          All Denmark                VET              271333
82002          All Denmark   Higher education              598418
82692   Region Nordjylland  Primary education               17061
82800   Region Nordjylland                VET               32217
...                    ...                ...                 ...
166161             Aalborg                VET               10532
166366             Aalborg   Higher education               28166
166986            Hjørring  Primary education                1965
167093            Hjørring                VET                3694
167293            Hjørring   Higher education                3390

[314 rows x 3 columns]

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [10]:
def plot_func():
    # Function that operates on data set
    pass

widgets.interact(plot_func, 
    # Let the widget interact with data through plot_func()    
);

interactive(children=(Output(),), _dom_classes=('widget-interact',))

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [11]:
df1.columns

Index(['KOMK', 'ALDERSGRUPPE', 'tot_aldersgruppe'], dtype='object')

In [12]:
df_hf2.columns

Index(['KOMK', 'UDDANNELSE', 'total_in_education'], dtype='object')

In [13]:
#Merging
dd = pd.merge(df1, df_hf2, how = 'inner', on = ['KOMK']);
dd.head(5)
dd
dd["ratio_in_education"]=dd["total_in_education"]/dd["tot_aldersgruppe"]*100
dd.tail(10)

,KOMK,ALDERSGRUPPE,tot_aldersgruppe,UDDANNELSE,total_in_education,ratio_in_education
286,Svendborg,25-39,9117,VET,2654,29.110453
287,Svendborg,25-39,9117,Higher education,3864,42.382363
288,Ringsted,25-39,6291,Primary education,1134,18.025751
289,Ringsted,25-39,6291,VET,2141,34.032745
290,Ringsted,25-39,6291,Higher education,2611,41.503735
291,Christiansø,25-39,10,VET,3,30.000000
292,Christiansø,25-39,10,Higher education,10,100.000000
293,Assens,25-39,5948,Primary education,1229,20.662408
294,Assens,25-39,5948,VET,2262,38.029590
295,Assens,25-39,5948,Higher education,2091,35.154674

In [14]:
##opdel i forskellige uddannelser, så vi får 3 datasæt med 99 kommuner i hver. Lav kort over hvert datasæt
import geopandas as gpd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'geopandas'

In [15]:
#shape_path = "https://github.com/NumEconCopenhagen/projects-2023-iim/blob/main/dataproject/dk_10km.shp", accept_multiple_files=True
#municipalities = gpd.read_file(shape_path)
st.session_state.data_01 = st.file_uploader('https://github.com/NumEconCopenhagen/projects-2023-iim/blob/main/dataproject/Denmark_shapefile.zip', accept_multiple_files=True, key='0')
#shape_path

NameError: name 'st' is not defined

In [16]:
map_df = dd
map_df.head()
type(map_df)

pandas.core.frame.DataFrame

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.